* {
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:1000px;
    background: gainsboro;
}

.blog-nav {
    top:0;
    left:0;
    position:fixed;
    background: black;
    color:white;
    height:50px;
    width:100%;
    z-index: 999;
}
.left-section {
    margin-top: 70px;
    padding: 0 20px;
    height:100%;
}
.right-section {
    margin-top:70px;
    padding-right:70px;
}