<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
    {% block page-css %}

    {% endblock page-css %}
</head>
<body>
<div class="blog-nav">
    {{ blog.title }}
    <span><a href="/logout/">注销</a></span>
    <span><a href="/index/">首页</a></span>
</div>
<div class="blog-body main">
    <div class="row">
        <div class="left-section col-md-2">
            {% load home_wrapper %}
            {% wrapper username %}
        </div>
        <div class="right-section col-md-10">
            {% block page-main %}

            {% endblock page-main%}
        </div>
    </div>
</div>
<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/ajax_setup.js"></script>
{% block page-js %}

{% endblock page-js %}
</body>
</html>